* {
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100vh;
  /* padding: 0.2em; */
  margin: 0;
}

body {
  padding: 2%;
}

@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 0%; }
}


.toaster {
  background-color: rgb(3, 10, 20);
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;

  animation: animateBg 14s linear infinite;
  background-image: linear-gradient(90deg,#030a14,#060420,#030a14,#060420);
  background-size: 300% 100%;
}

a {
  margin-right: 1rem;
}

main {
  display: flex;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  justify-content: center;
  height: calc(100% - 2rem);
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
